<app-search-navbar></app-search-navbar>

<div class="container">
  <p class="medium-title create-nft-title">Create a new NFT</p>



  <img [src]="file" (click)="selectImage.click()" />
  <input type="file" (change)="updateImage($event)" style="display: none" #selectImage />
  <p class="description-text center">Image, Video, Audio, or 3D Model</p>
  <p class="description-text center">File types supported: JPG, PNG, GIF, SVG, MP4, WEBM, MP3, WAV, OGG, GLB, GLTF. Max
    size: 40 MB</p>

  <div class="inputs-container">
    <p>Name*</p>
    <p class="description-text">See if this can be done with spaces. Elrond wallet only allows TextLikeThis not Text
      Like This)</p>
    <input type="text" name="name" placeholder="Name of your NFT">

    <p>External Link</p>
    <p class="description-text">We wil include a link to this url on the NFT page so the users can navigate and find out more about this.</p>
    <input type="text" name="url" placeholder="url">

    <p>Description</p>
    <p class="description-text">The description will be seen in the item page.</p>
    <input type="text" name="description" placeholder="description">

    <p>Tags</p>
    <p class="description-text">A list of tags</p>
    <input type="text" name="tags" placeholder="tag1,tag2,tag3,tag4">
   
    <p>Royalties</p>
    <p class="description-text">Percentage you get everytime this token is going to be traded. At least 1 is mandatory.</p>
    <input type="number" disabled min="1" max="10000" name="royalties" [(ngModel)]="royalties">

    <input type="range" min="100" max="10000" value="100" class="slider" [(ngModel)]="royalties" id="myRange">
    <p>Collection</p>
    <select type="select" name="collection">
      <option name="collection" selected value="ASDASDAS-12bd8a">ASDASDAS-12bd8a</option>
      <option name="new" value="new">Create new</option>
    </select>


    <!-- <p>
      // Create and send transaction ?!?! or just create one locally.
      Tests to do:
      Create an NFT with a wallet and buy it with another wallet.
      Make sure this is created on the network and that the appropriate fees are taken by the market.
    </p> -->

    <button type="submit">SUBMIT</button>
  </div>



  <!-- <textarea rows="30" cols="150">
        "identifier": "ASDASDAS-12bd8a-01",
        "collection": "ASDASDAS-12bd8a",
        "timestamp": 1633725510,
        "attributes": "dGFnczp0YWcxLHRhZzIsdGFnMyx0YWc0O21ldGFkYXRhOlFtZjFrV2NkMkFtSnNnUk56OW1yZ1Zxa2JjckZ2eDR3QndOUlcybk1RYXdkRmQ=",
        "nonce": 1,
        "type": "NonFungibleESDT",
        "name": "TestNFTWhyNoSpace",
        "creator": "erd17e4uuvhhnncye6mxxzffmgfhtyz8tpf4ug25he23z99j6yg8lwfqus4n28",
        "royalties": 5,
        "uris": [
          "aHR0cHM6Ly9pcGZzLmlvL2lwZnMvUW1jeHJWcnNtOE00blFqUGFKNUdUTkZvcGpRRUdmc0tIUWJxb3VQcW1EVm1Zbg=="
        ],
        "url": "https://devnet-media.elrond.com/nfts/asset/QmcxrVrsm8M4nQjPaJ5GTNFopjQEGfsKHQbqouPqmDVmYn",
        "thumbnailUrl": "https://devnet-media.elrond.com/nfts/thumbnail/ASDASDAS-12bd8a-01",
        "tags": [
          "tag1",
          "tag2",
          "tag3",
          "tag4"
        ]
      </textarea> -->
</div>
<app-info-footer></app-info-footer>