<div class="artist-top-info">
  <div class="left-info">
    <div class="artist-photo">
      <img src="{{profile?.profilePicture}}" alt="">
    </div>
    <!-- TODO THIS IS A V2 feature -->
    <!-- <div class="isengard-button follow-btn">
      <button>Follow</button>
    </div> -->
  </div>
  <div class="right-info">
    <div matRipple class="wallet-address-container">
      <div class="wallet-address">
        <span>{{profile?.accountId}}</span>
      </div>
      <button style="cursor: pointer;" [cdkCopyToClipboard]="profile?.accountId!">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
    <div matRipple class="share-btn">
        <mat-icon>share</mat-icon>
    </div>
  </div>
</div>
