<app-search-navbar></app-search-navbar>

<div class="motive-container">
  <div class="motive-content">
    <div class="title">What drives us</div>
    <div class="content">
      <p>
        "Fueled by necessity and a sense of adventure, bands have been climbing into vans and hitting the road for
        decades. Intertwined with the history and spread of rock ’n’ roll, the tradition — at once taxing and rewarding,
        chaotic and romantic — cultivates lasting relationships while providing musicians a way to make a living. It is
        an experience nearly all rock artists share. ynk,90-=="
      </p>
    </div>
  </div>
</div>

<div class="people-container">
  <div class="people-images">
    <div class="people-card">
      <div class="image">
        <img src="assets\images\people\vlad.png" alt="team-photo">
      </div>
      <div class="title">Vlad Popescu</div>
      <div class="sub-title">Praduitor Pe asuncuns</div>
    </div>
    <div class="people-card">
      <div class="image">
        <img src="assets\images\people\merdi.jpg" alt="team-photo">
      </div>
      <div class="title">Razvan Merdescu</div>
      <div class="sub-title">Praduitor General</div>
    </div>
  </div>
  <div class="people-content">
    <div class="title">Who are we</div>
    <div class="content">
      <p>
        "
        We have set an ambitious strategy for future growth. We will do this by collaborating with a carefully selected
        group of individual specialists and niche consultancies – providing our clients with a diverse team of global
        specialists who are passionate about what they do and can be relied on to deliver results.
      </p>
      <p>
        In order to maintain our exceptional standards and expand our network of associates, we are looking for
        Specialists who through their experience, wisdom and passion for people can bring added depth and diversity to
        our team. If you want to have a conversation with us to explore what is possible please contact our Business
        Manager, MR.RAZVAN MERDESCU"
      </p>
    </div>
  </div>
</div>

<div class="people-second-row">
  <div class="people-card">
    <div class="image">
      <img src="assets\images\people\panic.jpeg" alt="team-photo">
    </div>
    <div class="title">Marus Brinzaru</div>
    <div class="sub-title">Pradutoru LVL 99</div>
  </div>
  <div class="people-card">
    <div class="image">
      <img src="assets\images\people\suica.png" alt="team-photo">
    </div>
    <div class="title">Andrei Suica</div>
    <div class="sub-title">Praduitor El Jucator</div>
  </div>
  <div class="people-card">
    <div class="image">
      <img src="assets\images\people\ciro.png" alt="team-photo">
    </div>
    <div class="title">Bogdan Savu</div>
    <div class="sub-title">Praduitor de la Ureseiu</div>
  </div>
</div>




