<app-search-navbar></app-search-navbar>

<div class="motive-container">
    <div class="motive-content">
        <div class="title">What drives us</div>
        <div class="content">
            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
        </div>
    </div>
</div>

<div class="people-container">
    <div class="people-images">
        <div class="people-card">
            <div class="image">
                <img src="assets\images\people\vlad.png" alt="team-photo">
            </div>
            <div class="title">Vlad Popescu</div>
            <div class="sub-title">Praduitor Sef</div>
        </div>
        <div class="people-card">
            <div class="image">
                <img src="assets\images\people\merdi.jpg" alt="team-photo">
            </div>
            <div class="title">Razvan Merdescu</div>
            <div class="sub-title">Praduitor Sef</div>
        </div>
    </div>
    <div class="people-content">
        <div class="title">Who we are</div>
        <div class="content">
            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
        </div>
    </div>
</div>

<div class="people-second-row">
    <div class="people-card">
        <div class="image">
            <img src="assets\images\people\marus.png" alt="team-photo">
        </div>
        <div class="title">Marus Brinzaru</div>
        <div class="sub-title">Praduitor Sef</div>
    </div>
    <div class="people-card">
        <div class="image">
            <img src="assets\images\people\suica.png" alt="team-photo">
        </div>
        <div class="title">Andrei Suica</div>
        <div class="sub-title">Praduitor Sef</div>
    </div>
    <div class="people-card">
        <div class="image">
            <img src="assets\images\people\ciro.png" alt="team-photo">
        </div>
        <div class="title">Bogdan Savu</div>
        <div class="sub-title">Praduitor Sef</div>
    </div>
</div>




<app-info-footer></app-info-footer>