<div class="hero-container">
  <div class="nft-content">
    <img src="../../../assets/NFT.jpg" width="270px" height="270px">
  </div>
  <div class="nft-info-container">
    <app-name-card></app-name-card>
    <div class="nft-name">NFT Name</div>
    <div class="nft-collection">NFT Colection</div>
    <div class="nft-billing-container">
      <div class="current-bid-container">
        <div class="current-bid">Current bid</div>
        <div class="value-egld">1.00 EGLD</div>
        <div class="value-usd">$301.52</div>
      </div>
      <div class="current-auction">
        <div class="auction-ending">Auction ending in</div>
        <div class="auction-time">
          <div class="item-unit">
            <div class="value">1</div>
            <div> hours</div>
          </div>
          <div class="item-unit">
            <div class="value">42</div>
            <div> minutes</div>
          </div>
          <div class="item-unit">
            <div class="value">26</div>
            <div> seconds</div>
          </div>
        </div>
      </div>
    </div>
    <div>

      <div class="isengard-button">
        <button>Follow</button>
      </div>
    </div>
  </div>
</div>
