<artist-page-header></artist-page-header>
<artist-page-top-info [walletAddress]="profile!.accountId!"></artist-page-top-info>
<div class="wrapper">
  <div class="left-grid">
    <app-artist-page-info [joinedDate]="joinedDate"></app-artist-page-info>
  </div>
  <div class="right-grid">
    <div class="menu-bar">
      <div>
        <button (click)="select('created')" [ngClass]="{'selected': selected=='created'}">Created</button>
      </div>
      <div>
        <button (click)="select('owned')" [ngClass]="{'selected': selected=='owned'}">Owned</button>
      </div>
      <div>
        <button (click)="select('favorites')"  [ngClass]="{'selected': selected=='favorites'}" >Favorites</button>
      </div>
    </div>
    <div class="list">
      <!-- <div *ngFor="let nft of nfts">
        <app-nftcard [nft]="nft">a</app-nftcard>
      </div> -->

      <ul *ngIf="selected==='created'">
        <li *ngFor="let nft of createdNFTs">
          <app-nftcard [nft]="nft">a</app-nftcard>
        </li>
      </ul>
      <ul *ngIf="selected==='owned'">
        <li *ngFor="let nft of ownedNFTs">
          <app-nftcard [nft]="nft">a</app-nftcard>
        </li>
      </ul>
    </div>
  </div>

</div>
<app-info-footer></app-info-footer>