<artist-page-header></artist-page-header>
<artist-page-top-info [walletAddress]="profile!.accountId!"></artist-page-top-info>
<div class="wrapper">
  <div class="left-grid">
    <app-artist-page-info [joinedDate]="joinedDate"></app-artist-page-info>
  </div>
  <div class="right-grid">
    <div class="menu-bar">
      <div>
        <button>Created</button>
      </div>
      <div>
        <button>Owned</button>
      </div>
      <div>
        <button>Favorites</button>
      </div>
    </div>
    <div class="list">
      <div *ngFor="let nft of nfts">
        <app-nftcard [nft]="nft">a</app-nftcard>
      </div>
    </div>
  </div>

</div>
<app-info-footer></app-info-footer>