<artist-page-header [profile]="profile!"></artist-page-header>
<div style="position: relative;">
  <artist-page-top-info [profile]="profile!"></artist-page-top-info>
  <div class="edit-icon-profile">
    <button mat-mini-fab color="primary" [routerLink]="['/profile']" *ngIf="userBrowsing">
      <mat-icon>mode</mat-icon>
    </button>
  </div>
</div>

<div class="wrapper">
  <div class="left-grid">
    <app-artist-page-info [profile]="profile!" [reffererProfile]="reffererProfile!" [joinedDate]="joinedDate!"></app-artist-page-info>
  </div>
  <div class="right-grid">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Owned">
        <div class="list">
          <ng-container *ngFor="let nft of ownedNFTs">
            <app-nftcard [nft]="nft"></app-nftcard>
          </ng-container>
        </div>

      </mat-tab>
      <mat-tab label="Created">
        <div class="list">
          <ng-container *ngFor="let nft of createdNFTs">
            <app-nftcard [nft]="nft"></app-nftcard>
          </ng-container>
        </div>
      </mat-tab>
      <mat-tab label="Favorites">
        <h2>Favorites NFTS BRO MOCKED</h2>

        <div class="responsive-list-wrapper">
          <ng-container *ngFor="let nft of mockedNFTS">
            <app-nftcard [nft]="nft"></app-nftcard>
          </ng-container>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<app-info-footer></app-info-footer>
