.wrapper {
  display: flex;
  margin: 50px;
  justify-content: space-between;

  .left-grid {
    flex: 1;
  }

  .right-grid {
    flex: 3;

    .list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px;
      flex-wrap: wrap;
      row-gap: 30px;

      ul {
        list-style-type: none;
        li {
          float: left;
        }
      }
    }
  }
}

// X-Large devices (large desktops, less than 1550px)
@media (max-width: 959.98px) {
  .wrapper {
    flex-direction: column;
  }
}

::ng-deep.mat-tab-label {
  font-size: 20px !important;
}

.edit-icon-profile {
  position: absolute;
  right: 30px;
  bottom: 50px;
}

.responsive-list-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px 5%;
  grid-column-gap: 3%;
  grid-row-gap: 30px;
  align-items: center;
  justify-items: center;
}

// X-Large devices (large desktops, less than 1550px)
@media (max-width: 1550px) {
  // ::ng-deep.wrapper {
  //   height: 325px !important;
  //   width: 260px !important;
  // }
  .responsive-list-wrapper {
    grid-template-columns: 1fr 1fr !important;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .responsive-list-wrapper {
    grid-template-columns: 1fr 1fr !important;
    margin: 10px 2% !important;
    grid-column-gap: 2% !important;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .responsive-list-wrapper {
    grid-template-columns: 1fr 1fr !important;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 867.98px) {
  .responsive-list-wrapper {
    grid-template-columns: 1fr !important;
    margin: 10px !important;
    grid-column-gap: 10px !important;
  }
}
//TODO SCALE IT TO 2 or 1 item per row
// X-Small devices (portrait phones, less than 685px)
@media (max-width: 685px) {
  .responsive-list-wrapper {
    grid-template-columns: 1fr !important;
  }
}
