<div class="container">
    <div class="wallet-address-container" >
        <div class="wallet-address">
            <span>{{walletAddress}}</span>

        </div>
        <button [cdkCopyToClipboard]="walletAddress!">
            <mat-icon>content_copy</mat-icon>
        </button>
    </div>
    <div class="artist-name">Suicanul</div>
    <div class="artist-username">@suicabagapumnu</div>
    <div class="artist-bio">
        <div class="artist-bio-title">
            About me
        </div>
        <span>
            My name is Zdenek Benjamin Cehelsky and i am known as @rykyart

            Most important thing about me?
            I've been drawing my whole life!

            Why? Because i can create my own worlds! And you're always welcome.
        </span>
    </div>
</div>
