.isengard-text {
  background: -webkit-linear-gradient(90deg, #1b46c2 0%, #791198 100%);
  background: linear-gradient(90deg, #1b46c2 0%, #791198 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.isengard-bg {
  background: linear-gradient(90deg, rgba(27, 70, 194, 1) 0%, rgba(121, 17, 152, 1) 100%);
}
