.isengard-text {
  background: -webkit-linear-gradient(90deg, #1b46c2 0%, #791198 100%);
  background: linear-gradient(90deg, #1b46c2 0%, #791198 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.isengard-bg {
  // OLD
  // background: linear-gradient(90deg, rgba(27, 70, 194, 1) 0%, rgba(121, 17, 152, 1) 100%);
  background: linear-gradient(90deg, #354c9e 0%, #86287f 100%);
}

.isengard-button {
  button {
    cursor: pointer;
    padding: 20px 50px;
    border-radius: 9px;
    background: -webkit-linear-gradient(90deg, #094fc3 0%, #cd408f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid;
    border-image: linear-gradient(90deg, #cd408f 0%, #094fc3 100%) 1;
  }

  button::after {
    position: absolute;
    border-radius: 16px;
  }
  button:hover {
    animation: heartbeat 1.5s ease-in-out infinite both;
  }
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
