<p>Create a new NFT Collection</p>
<input type="text" name="name">

<input type="text" name="collection">

// Create and send transaction ?!?! or just create one locally. 

<p>Create a new NFT</p>
Image, Video, Audio, or 3D Model
File types supported: JPG, PNG, GIF, SVG, MP4, WEBM, MP3, WAV, OGG, GLB, GLTF. Max size: 40 MB

Media
<input type="file" name="media">

Name ( see if this can be done with spaces. Elrond wallet only allows TextLikeThis not Text Like This)
<input type="text" name="name">

Url
<input type="text" name = "url">

Tags
<input type="text" name="tags" placeholder="tag1,tag2,tag3,tag4">

Description
<input type="text" name ="description">

Royalties
<input type="number" min="1" max="10000" name="royalties" placeholder="royalties">






{
    "identifier": "ASDASDAS-12bd8a-01",
    "collection": "ASDASDAS-12bd8a",
    "timestamp": 1633725510,
    "attributes": "dGFnczp0YWcxLHRhZzIsdGFnMyx0YWc0O21ldGFkYXRhOlFtZjFrV2NkMkFtSnNnUk56OW1yZ1Zxa2JjckZ2eDR3QndOUlcybk1RYXdkRmQ=",
    "nonce": 1,
    "type": "NonFungibleESDT",
    "name": "TestNFTWhyNoSpace",
    "creator": "erd17e4uuvhhnncye6mxxzffmgfhtyz8tpf4ug25he23z99j6yg8lwfqus4n28",
    "royalties": 5,
    "uris": [
      "aHR0cHM6Ly9pcGZzLmlvL2lwZnMvUW1jeHJWcnNtOE00blFqUGFKNUdUTkZvcGpRRUdmc0tIUWJxb3VQcW1EVm1Zbg=="
    ],
    "url": "https://devnet-media.elrond.com/nfts/asset/QmcxrVrsm8M4nQjPaJ5GTNFopjQEGfsKHQbqouPqmDVmYn",
    "thumbnailUrl": "https://devnet-media.elrond.com/nfts/thumbnail/ASDASDAS-12bd8a-01",
    "tags": [
      "tag1",
      "tag2",
      "tag3",
      "tag4"
    ]
  }



  Tests to do:
  Create an NFT with a wallet and buy it with another wallet. 
  Make sure this is created on the network and that the appropriate fees are taken by the market.