<app-search-navbar></app-search-navbar>
<h2>RECENT NFTS</h2>

<div class="responsive-list">
  <div *ngFor="let nft of nfts">
    <div [routerLink]="['/collection', nft.collection]">
      <app-nftcard [nft]="nft"></app-nftcard>
    </div>
  </div>
</div>

<h2>All nft Collections</h2>
<div class="list" *ngFor="let collection of nftCollections">
  <div [routerLink]="['/collection', collection.collection]">
    <div>{{collection.name}}</div>
    <div> Created at {{collection.timestamp * 1000 | date:'dd/MM/yyyy'}}</div>
  </div>
</div>

<app-info-footer></app-info-footer>