<app-search-navbar [initalStyle]="'white'"></app-search-navbar>


<div class="cover">
  <div class="nft-container">
    <img src="{{nft?.url}}">
  </div>
  <div class="container middle-line">

    <div class="username-container">
      <img src="https://devnet-media.elrond.com/nfts/asset/QmU1FVD88akcHt3C8QW8KL69LhXJVncBRF23eCy2zPzL8P">
      <h3 [routerLink]="['/artist', ownerUsername]" routerLinkActive="router-link-active"  style="word-wrap: break-word;" matTooltipPosition="above" matTooltipClass="tooltip" matTooltip="Owner">
        @{{ownerUsername}}
      </h3>
    </div>



    <ul class="button-list">
      <li class="shadow">
        <div>
          <mat-icon aria-hidden="false" class="grey-heart">
            favorite
          </mat-icon>
        </div>
      </li>
      <li class="shadow">
        <div>
          <mat-icon aria-hidden="false" class="grey-share">
            share
          </mat-icon>
        </div>
      </li>
    </ul>


  </div>
</div>




<div class="container info-container">

  <div class="user-profile-container">

    <h1>{{nft?.name}}</h1>
    <h2>Description:</h2>
    <p class="description">{{nft?.metadata?.description}}</p>
    <h2>Collection:</h2>
    <div class="collection-container">
      <div class="collection-image-container">
        <img src="https://devnet-media.elrond.com/nfts/asset/QmU1FVD88akcHt3C8QW8KL69LhXJVncBRF23eCy2zPzL8P">
      </div>
      <div class="collection-data-container">
        <p class="collection-name">{{collection?.name}}</p>
        <p class="collection-ticker">{{collection?.ticker}}</p>
      </div>

    </div>

    <h2>Tags:</h2>

    <ul class="tags-list">
      <li *ngFor="let tag of nft?.tags" class="tag shadow">
        {{tag}}
      </li>
    </ul>

    <h2>Properties:</h2>
    <ul class="properties-list">
      <li class="property shadow">
        <div>
          <p class="p-name">Background</p>
          <p class="p-value">
            Black
          </p>
        </div>
      </li>

      <li class="property shadow">
        <div>
          <p class="p-name">Type</p>
          <p class="p-value">
            Multipass
          </p>
        </div>
      </li>
    </ul>

    <h2>CreateBy:</h2>
    <div class="user-container shadow">
      <img src="https://devnet-media.elrond.com/nfts/asset/QmU1FVD88akcHt3C8QW8KL69LhXJVncBRF23eCy2zPzL8P">
      <span class="username">@{{creatorUsername}}</span>
    </div>

  </div>


  <div class="timeline-container">
    <div class="offer-details">
      <div class="button-container">
        <div class="black-btn">Make offer</div>
      </div>

      <div class="text-container">
        <p class="sold-for-text">Last sold for</p>
        <p class="sold-for-value">2.245 <span class="currency">EGLD</span></p>
        <p class="usd-conversion-text">$523.32</p>
      </div>
    </div>



    <div class="timeline-item shadow">
      <img src="https://devnet-media.elrond.com/nfts/asset/QmU1FVD88akcHt3C8QW8KL69LhXJVncBRF23eCy2zPzL8P">
      <div class="timeline-item-details">
        <p class="message">Auction won by <span class="user-link">@suicabagpumnul</span></p>
        <p class="message-time">Oct 15, 2021 at 2:17PM</p>
      </div>
      <div class="timeline-item-price">
        <p class="price">2.245EGLD</p>
        <p class="priceUsd">$523.32</p>
      </div>
      <div class="timeline-link-out">
        <a href="http://localhost:4200/nft/WORTH-8d1158-07"><svg viewBox="0 0 16 16" fill="none"
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="display: block;">
            <path d="M15 0H8v2h4.6L6.3 8.3l1.4 1.4L14 3.4V8h2V1c0-.6-.4-1-1-1z" fill="currentColor"></path>
            <path d="M14 16H1c-.6 0-1-.4-1-1V2c0-.6.4-1 1-1h4v2H2v11h11v-3h2v4c0 .6-.4 1-1 1z" fill="currentColor">
            </path>
          </svg>
        </a>
      </div>
    </div>

    <div class="timeline-item shadow">
      <img src="https://devnet-media.elrond.com/nfts/asset/QmU1FVD88akcHt3C8QW8KL69LhXJVncBRF23eCy2zPzL8P">
      <div class="timeline-item-details">
        <p class="message">Auction won by <span class="user-link">@suicabagpumnul</span></p>
        <p class="message-time">Oct 15, 2021 at 2:17PM</p>
      </div>
      <div class="timeline-item-price">
        <p class="price">2.245EGLD</p>
        <p class="priceUsd">$523.32</p>
      </div>
      <div class="timeline-link-out">
        <a href="http://localhost:4200/nft/WORTH-8d1158-07"><svg viewBox="0 0 16 16" fill="none"
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="display: block;">
            <path d="M15 0H8v2h4.6L6.3 8.3l1.4 1.4L14 3.4V8h2V1c0-.6-.4-1-1-1z" fill="currentColor"></path>
            <path d="M14 16H1c-.6 0-1-.4-1-1V2c0-.6.4-1 1-1h4v2H2v11h11v-3h2v4c0 .6-.4 1-1 1z" fill="currentColor">
            </path>
          </svg>
        </a>
      </div>
    </div>

    <div class="timeline-item shadow">
      <img src="https://devnet-media.elrond.com/nfts/asset/QmU1FVD88akcHt3C8QW8KL69LhXJVncBRF23eCy2zPzL8P">
      <div class="timeline-item-details">
        <p class="message">Auction won by <span class="user-link">@suicabagpumnul</span></p>
        <p class="message-time">Oct 15, 2021 at 2:17PM</p>
      </div>
      <div class="timeline-item-price">
        <p class="price">2.245EGLD</p>
        <p class="priceUsd">$523.32</p>
      </div>
      <div class="timeline-link-out">
        <a href="http://localhost:4200/nft/WORTH-8d1158-07"><svg viewBox="0 0 16 16" fill="none"
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="display: block;">
            <path d="M15 0H8v2h4.6L6.3 8.3l1.4 1.4L14 3.4V8h2V1c0-.6-.4-1-1-1z" fill="currentColor"></path>
            <path d="M14 16H1c-.6 0-1-.4-1-1V2c0-.6.4-1 1-1h4v2H2v11h11v-3h2v4c0 .6-.4 1-1 1z" fill="currentColor">
            </path>
          </svg>
        </a>
      </div>
    </div>
  </div>

</div>


<app-info-footer></app-info-footer>
