<app-search-navbar [initalStyle]="'white'"></app-search-navbar>

<div class="nft-container">
  <div class="nft-thumbnail">
    <img src="../../../assets/nft-cover.jpg">
    <app-name-card></app-name-card>
  </div>

  <div class="main-info">
    <div class="art-info">
      <div class="name">NFT Haze</div>
      <div class="sub-name">art information</div>
      <div class="description-container">
        <div class="label">Description</div>

        <div class="big-description">
          This is the first piece in a series that expands Kristen's Cuboid Vortex series into cityscapes. Created with
          vintage paint software from 1990-91: Ultrapaint for 68k Macintosh and Deluxe Paint IV for Commodore Amiga.
          This work uses colour range/palette cycling, and speaks to the history of paint software for early personal
          computers. Kristen's work is a living document of the processes associated with historic software for early
          personal computers.

          Created in the standard Amiga scale 320x256(x4), 24fps, 2021
        </div>
      </div>

      <div class="links-container">
        <div class="link-badge">
          <a href="https://maiar.com/">Check my FB<mat-icon>open_in_new</mat-icon></a>
        </div>
        <div class="link-badge">
          <a href="https://maiar.com/">Check my insta<mat-icon>open_in_new</mat-icon></a>
        </div>
        <div class="link-badge">
          <a href="https://maiar.com/">Check my onlyfans<mat-icon>open_in_new</mat-icon></a>
        </div>

      </div>
    </div>

    <div class="bid-info">
      <div class="owner-container">
        <div class="price">
          <div class="sold-label">sold for</div>
          <div class="value">12.211 ETH</div>
        </div>
        <div class="divider"></div>
        <div>
          <div class="owned">
            <div>Owned by</div>
            <div>
              <app-name-card></app-name-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="creator-container">
    <div class="name-label">MR. Panica</div>
    <div class="splitter"></div>

    <div class="about-creator-container">
      <div class="creator-main-info">
        <div class="logo">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba1.jpg">
        </div>
        <span class="isengard-text">@bereanu99</span>
      </div>

      <div class="about">
        All of Kristen's work found on Foundation is created with vintage software. His practice includes a wide range
        of mediums including sound art, installation, textiles and printmaking.
      </div>
    </div>
  </div>

</div>

<app-info-footer></app-info-footer>
