.main-footer-conainer {
  z-index: 100;
  width: 100%;
  position: absolute;
  height: 130px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  .top-contaier {
  }
  .divider {
    width: 90%;
    border: 1px solid #ffffff7a;
  }

  .bottom-container {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    color: white;

    .trade-mark {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        font-size: 20px;
        padding-right: 15px;
        cursor: pointer;
      }
    }
  }
  .menu-list,
  .social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .privacy {
      margin: 0px 10px;
    }
    a {
      text-decoration: none;
      color: white;
    }
    .list-item {
      color: white;
      margin: 10px;
      cursor: pointer;
    }
    & :hover {
      animation: shadow-pop-bl 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
    }
  }
}
@-webkit-keyframes shadow-pop-bl {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e,
      -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
    box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e,
      -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
    -webkit-transform: translateX(8px) translateY(-8px);
    transform: translateX(8px) translateY(-8px);
  }
}
@keyframes shadow-pop-bl {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e,
      -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
    box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e,
      -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
    -webkit-transform: translateX(8px) translateY(-8px);
    transform: translateX(8px) translateY(-8px);
  }
}

@media (max-width: 575.98px) {
  .bottom-container {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .bottom-container {
    font-size: 8px !important;
  }
}

@media (max-width: 350px) {
  .bottom-container {
    font-size: 6px !important;
  }
}
