.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
  flex-wrap: wrap;
}

.responsive-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 10%;
  grid-column-gap: 5%;
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  .responsive-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    //TODO create media query to decrese this on lower resolutions
    margin: 0px 8%;
    //TODO create media query to decrese this on lower resolutions
    grid-column-gap: 4%;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .responsive-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    //TODO create media query to decrese this on lower resolutions
    margin: 0px 6%;
    //TODO create media query to decrese this on lower resolutions
    grid-column-gap: 3%;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .responsive-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    //TODO create media query to decrese this on lower resolutions
    margin: 0px 4%;
    //TODO create media query to decrese this on lower resolutions
    grid-column-gap: 2%;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .responsive-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    //TODO create media query to decrese this on lower resolutions
    margin: 0px 2%;
    //TODO create media query to decrese this on lower resolutions
    grid-column-gap: 1%;
  }
}
//TODO SCALE IT TO 2 or 1 item per row
// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .responsive-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    //TODO create media query to decrese this on lower resolutions
    margin: 0px 10%;
    //TODO create media query to decrese this on lower resolutions
    grid-column-gap: 5%;
  }
}

