<app-search-navbar></app-search-navbar>

<div class="nft-container">
  <div class="nft-thumbnail">
    <img src="../../../assets/nft-cover.jpg">
    <div class="author-info">
      <div class="author-logo">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba1.jpg">
      </div>
      <span> @bereanu99</span>
    </div>
  </div>

  <div class="main-info">
    <div class="art-info">

      <div>Art NAME</div>
      <div>art description</div>
    </div>

    <div class="bid-info">
      BID INFO

      <div>Art NAME</div>
      <div>art description</div>
    </div>
  </div>
  <div>creator Content</div>

</div>

