.banner {
  position: relative;

  img {
    width: 100%;
    min-height: 10vw;
    object-fit: cover;
    background-position: 50% 50%;
    margin-bottom: 60px;
    max-height:500px;
    background-size: cover;
  }
}
