<h2 mat-dialog-title>Auction this Nft</h2>
<mat-dialog-content class="mat-typography">

    Starting Price:
    <input type="number" [(ngModel)]="data.starting_price"> EGLD
    Final Price:
    <input type="number" [(ngModel)]="data.final_price"> EGLD 
    Auction Deadline:
    <input type="datetime-local" min="2021-10-01T08:30" max="2021-11-30T16:30" [(ngModel)]="data.deadline"> 

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="onYesClick()" cdkFocusInitial>List for sale</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
</mat-dialog-actions>