.wrapper {
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 3px 15px -3px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 425px;
  width: 70%;
  margin: 15px;
  border-radius: 10px;
  position: relative;
  animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  .nft-photo {
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      border-radius: 4px 4px 0px 0px;
    }
    
  }

  .nft-photo :hover {
    transform: scale(1.05);
    transition: all 500ms ease-out;
    border-radius: 4px;
  }

  .nft-info-section {
    .nft-name {
      font-weight: 500;
      margin: 5px 15px;
    }

    .author-info {
      display: flex;
      align-items: center;
      margin: 0px 10px;

      .author-logo {
        margin: 10px 0px;
        width: 30px;
        height: 30px;
        img {
          border-radius: 150px;
          width: 30px;
          height: 30px;
        }
      }

      .author-name {
        margin: 0px 5px;
      }
    }
  }

  .nft-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    background-color: black;
    color: white;
    height: 100%;
    border-radius: 0px 0px 4px 4px;
    .label-info {
      color: rgb(204, 203, 204);
    }
    .price {
      color: hotpink;
    }
  }
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  .wrapper {
    width: 70%;
  }
}
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .wrapper {
    width: 80%;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .wrapper {
    width: 90%;
  }
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .wrapper {
    width: 100%;
  }
}
//TODO SCALE IT TO 2 or 1 item per row

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .wrapper {
    width: 110%;
  }
}



@for $i from 1 to 15 {
  .nft-form div:nth-child(#{$i}) {
    animation-delay: $i * 0.25s;
  }
}

@keyframes tilt-in-top-1 {
  0% {
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
