<div class="nft-form">
  <div class="wrapper">
    <div class="nft-photo">
      <div *ngIf="isVideoNFT">
        <video width="100%" height="250" controls>
          <source src="{{imageURI}}" >
        </video>

      </div>
      <div *ngIf="!isVideoNFT">
        <img mat-card-image src="{{imageURI}}">
      </div>
    </div>
    <div class="nft-info-section">
      <div class="nft-name">{{nft.name}} #{{nft.nonce}}</div>
      <div class="author-info">
        <div class="author-logo">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba1.jpg">
        </div>
        <div class="author-name">@bereanu99</div>
      </div>
    </div>

    <div class="nft-info">
      <div>
        <div class="label-info">Current Price</div>
        <div class="price"> 40.00 EGLD</div>
      </div>
      <div>
        <div class="label-info">Created at</div>
        <div>{{+nft.timestamp * 1000 | date:'dd/MM/yyyy'}}</div>
      </div>
    </div>
  </div>
</div>
