/* You can add global styles to this file, and also import other style files */
@import "./styles/vars";
@import "./styles/global";
@import "~@angular/material/theming";

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-grey);
$app-accent : mat-palette($mat-light-blue);
$app-warn   : mat-palette($mat-pink);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent : mat-color($app-accent);
$warn   : mat-color($app-warn);

html,
body {
  height          : 100%;
  background-color: #fdfdfd;
}

body {
  margin     : 0;
  font-family: "OpenSans", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin     : 0;
  font-family: "OpenSans", sans-serif;
}

.mat-typography {
  font: 400 15px/25px Roboto, "OpenSans", sans-serif !important;
}

.tooltip {
  background-color: #2e2e2e;
  font-size       : 12px;
  font-family     : Poppins;
  font-weight     : 300;
  border-radius   : 20px;
}

.grey-heart {
  color : rgb(170, 170, 170);
  cursor: pointer
}

/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.grey-heart svg {
  fill  : rgb(170, 170, 170);
  cursor: pointer
}

mat-icon.grey-heart:hover {
  color     : rgb(170, 170, 170);
  transition: 0.3s;
}

mat-icon.grey-share {
  color: #363636;
  transition: 0.3s;
}

mat-icon.grey-share:hover {
  color: #1a1a1a;
  transition: 0.3s;
}

mat-icon.grey-heart:hover {
  color     : red;
  transition: 0.3s;
}