<div class="main-container" [ngClass]="{
    'navbar-black': initalStyle == 'black',
    'navbar-white': initalStyle == 'white',
    'box-shadow-main-container': navbarOpened
  }" (scroll)="onWindowScroll();">
  <div class="logo">
    <span [routerLink]="['/home']">ISENGARD</span>
  </div>
  <div class="logo-short">
    <span [routerLink]="['/home']">I</span>
  </div>
  <div class="search">
    <span class="input">
      <input type="text" placeholder="Search for NFTs">
      <span></span>
    </span>
  </div>
  <div class="menu-list">
    <div class="list-item">
      <div [routerLink]="['/marketplace']">
        Marketplace
      </div>
    </div>
    <div class="list-item" *ngIf="!isLoggedIn">
      <div [routerLink]="['/about']">
        About
      </div>
    </div>
    <div class="list-item">
      <div [routerLink]="['/activity']">
        Activity
      </div>
    </div>
    <div class="list-item" *ngIf="isLoggedIn">
      <div [routerLink]="['/nft/create']">
        Create
      </div>
    </div>
    <div class="list-item" *ngIf="isLoggedIn">
      <div [routerLink]="['/artist', currentProfile?.username]">
        My Profile
      </div>
    </div>
    <div class="list-item" *ngIf="!isLoggedIn">
      <div [routerLink]="['/login']">
        Login
      </div>
    </div>
    <div class="list-item" *ngIf="isLoggedIn">
      <div [routerLink]="['/logout']">
        Log out
      </div>
    </div>
  </div>

  <div class="menu-button">
    <button mat-icon-button (click)="toggleNavbar()">
      <mat-icon>menu_open</mat-icon>
    </button>
  </div>

</div>

<mat-sidenav-container class="sidenav-container" [ngClass]="{'full-width': navbarOpened}">
  <mat-sidenav #snav [mode]="'over'" [fixedInViewport]="true" [opened]="navbarOpened">
    <div class="menu-list-sidenav">
      <div class="list-item">
        <div [routerLink]="['/marketplace']">
          Marketplace
        </div>
      </div>
      <div class="list-item" *ngIf="!isLoggedIn">
        <div [routerLink]="['/about']">
          About
        </div>
      </div>
      <div class="list-item">
        <div [routerLink]="['/activity']">
          Activity
        </div>
      </div>
      <div class="list-item" *ngIf="isLoggedIn">
        <div [routerLink]="['/nft/create']">
          Create
        </div>
      </div>
      <div class="list-item" *ngIf="isLoggedIn">
        <div [routerLink]="['/artist', currentProfile?.username]">
          My Profile
        </div>
      </div>
      <div class="list-item" *ngIf="!isLoggedIn">
        <div [routerLink]="['/login']">
          Login
        </div>
      </div>
      <div class="list-item" *ngIf="isLoggedIn">
        <div [routerLink]="['/logout']">
          Log out
        </div>
      </div>
    </div>
  </mat-sidenav>

</mat-sidenav-container>
