<div class="main-container" [ngClass]="{'navbar-black': initalStyle == 'black', 'navbar-white': initalStyle == 'white'}" (scroll)="onWindowScroll();">
  <div class="logo">
    <span [routerLink]="['/home']">ISENGARD</span>
  </div>
  <div class="search">
    <span class="input">
      <input type="text" placeholder="Search for NFTs">
      <span></span>
    </span>
  </div>
  <div class="menu-list">
    <div class="list-item">
      <div [routerLink]="['/about']">
        Marketplace
      </div>
    </div>
    <div class="list-item">
      <div [routerLink]="['/about']">
        About
      </div>
    </div>
    <div class="list-item">
      <div [routerLink]="['/activity']">
        Activity
      </div>
    </div>
    <div class="list-item" *ngIf="isLoggedIn">
      <div [routerLink]="['/artist', currentProfile?.username]">
        My Profile
      </div>
    </div>
    <div class="list-item" *ngIf="!isLoggedIn">
      <div [routerLink]="['/login']">
        Login
      </div>
    </div>
    <div class="list-item" *ngIf="isLoggedIn">
      <div [routerLink]="['/nft/create']">
        Create
      </div>
    </div>
    <div class="list-item" *ngIf="isLoggedIn">
      <div [routerLink]="['/logout']">
        Log out
      </div>
    </div>
  </div>
</div>
